//////////////////////////////////////////////////////////////
// 1. Colours
//////////////////////////////////////////////////////////////
$color-bad-unselected: #8e0800;
$color-bad: #ff0800;
$color-good: #289230;
$color-highlight: #0496fd;
$background-color: #999;